@import './placeholders.scss';

// .grid {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-wrap: wrap;
//     max-width: 100em;
//   }

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 35em;
    height: auto;
    display: grid;
    grid-column: 1/3;
  }

.FirstMainColumn{
    display: grid;
    width: 5em;
    height: 15em;
}

.ContainerImageLogo{
    display: grid;
    grid-column: 1/2;
    margin-block-start: 1em;
    margin-block-end: 1em;
    width: 4em;
    height: 4em;  
}
.Projectlogo{
    clip-path: circle();
}

.ProOrLearn{
    display: grid;
    margin-block-start: 1em;
    margin-block-end: 1em;
    grid-row: 2;
    color: #382abb;
    font-size: 1em;
    font-weight: bold;
    text-align: center; 
}

.SocialsTab{
    display: grid;
    grid-column: 1/2;
    margin-block-start: 1em;
    margin-block-end: 1em;
    grid-row: 3;
    color: #382abb;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.SecondMainColumn{
    display: grid;    
    grid-column: 2/4;
    width: 100%;
    height: auto;
    grid-row: 1/2;
    max-height: auto;
}

.FirstSecondColumn{
    display: grid;
    grid-column: 1/2;
    border: 5px solid #3235d8;
}
.SecondSecondColumn{
    display: grid;    
    grid-column: 2/4;
    border: 5px solid #d83232;
    border-radius: 10px;

.TeamCard{
    display: grid;
    grid-column: 1/2;
    margin-block-end: 1em;
    grid-row: 1/2;
    color: #413e5e;
    font-size: 0.8em;
    font-weight: lighter;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

}
.ComponentTitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-row: 1;
    justify-content: center;
    align-items: center;    
    font-size: 1.5em;
    font-weight: bold;
}
.ContainerImageTeam
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    flex-direction: row;
    margin-block-start: 1em;
    margin-block-end: 1em;
    grid-row: 1;    
    width: 3em;
    height: 3em;
    
}

.Teamlogo{
    clip-path: circle();
}

.TeamNumberX{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2;
}

.MembersSearched{
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;    
    grid-row: 3;
    color: #382abb;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.15s ease, border-color 0.15s ease;
    
}
.MembersComponent{
    display: flex;
    width: 100%;
    margin-block-start: 0.15em;
    margin-block-end: 1em;
    grid-row: 4;
    color: #382abb;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;   
}

.MembersNumber{
    @extend %fontBasic;
}

.isProjectLive{
    @extend %fontBold;
}